<div class="card">
  <div class="card-body">
    <%= form_with(model: provider, local: true) do |form| %>
      <% if provider.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

          <ul>
          <% provider.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="form-group">
            <label for="name">Nombre</label>
            <%= form.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="form-group">
            <label for="phone">Teléfono</label>
            <%= form.text_field :phone, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="form-group">
            <label for="personal_contact">Contacto personal</label>
            <%= form.text_field :personal_contact, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="form-group">
            <label for="administrative_contact">Contacto administrativo</label>
            <%= form.text_field :administrative_contact, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="form-group">
            <label for="max_product_quantity">Cantidad máxima de productos</label>
            <input name="provider[max_product_quantity]" type="number" value="<%= form.object.max_product_quantity %>" min="0" max="100" step="1"/>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="form-group">
            <label for="subscription_end_date">Fecha fin suscripción</label>
            <div class="input-group">
              <%= form.text_field :subscription_end_date, class: 'form-control datepicker' %>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="form-group">
            <label for="email">Email</label>
            <%= form.email_field :email, class: 'form-control' %>
          </div>
        </div>

        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="form-group">
            <label for="webpage_link">Página web</label>
            <%= form.text_field :webpage_link, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-lg-14 col-sm-12 col-xs-12">
          <div class="form-group">
            <div class="form-check pl-0">
              <%= form.check_box :is_active, class: 'form-check-input', 'data-toggle': 'toggle', 'data-on': 'Sí', 'data-off': 'No', 'data-onstyle': 'success', 'data-offstyle': 'danger' %>
              <label for="is_active" class="form-check-label">Activo</label>
            </div>
          </div>
        </div>
      </div>

      
      <div class="actions">
        <%= form.submit 'Guardar', class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>