<div class="row">    
    <% @products.each do |product| %>
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="padding: 1% 0 0 5%;">
            <div class="card" style="width: 16rem;">
                <a href="/products/<%= product.slug %>">
                    <%= product_image product %>
                </a>
                <div class="card-body" style="padding: 1%;">
                    <p class="card-title text-center"><span class="badge badge-info"><%= formatted_price product %></span></p>
                    <p class="card-text text-center"><%= product.name %></p>
                </div>
            </div>
        </div>
    <% end %>
</div>

<div class="col-4 mx-auto" style="margin-top: 2%;">
  <%= will_paginate(@products, :previous_label => 'Anterior', :next_label => 'Siguiente', :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>