<% provide :title, 'Proveedores' %>
<%= render 'shared/infobar', color: 'black' %>

<div class="row" style="margin-top: 5%;">
    <% @providers.each_slice(4) do |providers| %>
      <% providers.each do |provider| %>
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12" style="margin-top: 2%;">
          <div class="card" style="width: 16rem;">
            <a href="/providers/<%= provider.slug %>">
              <%= provider_image provider.logo %>
            </a>
            <div class="card-body" style="padding: 1%;">
              <p class="card-small-text"><%= provider.name %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
</div>

<div class="col-4 mx-auto" style="margin-top: 2%;">
  <%= will_paginate(@products, :previous_label => 'Anterior', :next_label => 'Siguiente', :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>