<% provide :title, @provider.name %>
<% if @provider.is_active? %>

  <div class="row" style="margin-top: 5%; padding: 2% 30% 2% 30%; background-color: #282828;">
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">

      <% if @provider.logo.attached? %>
        <%= image_tag @provider.logo, size: '180x180' %>
      <% else %>
        <%= image_tag 'no-img.jpg', size: '180x180' %>
      <% end %>

    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
      <div class="row" style="color: white;">
        <div class="col-12">
          <h4 style="display: inline;"><%= @provider.name %> </h4>
        </div>
        <div class="col-12 provider-info">
          <%= link_to 'Contactar proveedor', new_provider_contact_provider_mailer_path(@provider.id), remote: true, class: 'btn btn-danger' %>
        </div>        
        <div class="col-12 provider-info">
          <%= link_to 'Sitio web del proveedor', @provider.webpage_link.html_safe || '#', class: 'blue-color' %>
        </div>
        <div class="col-12 provider-info">
            <a href="<%= @provider.facebook_page.html_safe  %>" style="margin: 5%;"> <i class="fa fa-facebook"></i></a>
            <a href="<%= @provider.instagram_page.html_safe  %>" style="margin: 5%;"> <i class="fa fa-instagram"></i></a>
            <a href="<%= @provider.twitter_page.html_safe  %>" style="margin: 5%;"> <i class="fa fa-twitter"></i></a>
        </div>  
      </div>
    </div>
  </div>

  <div class="row" >
      <div class="col-12" style="height: 25%; background-color: white; margin-top: 2%; border-radius: 0.5em;">
          <div style="padding: 1%;">
            <ul class="nav justify-content-center nav-tabs" id="providerTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link" id="branch-offices-tab" data-toggle="tab" href="#branch-offices" role="tab" aria-controls="home" aria-selected="true">Sucursales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" id="products-tab" data-toggle="tab" href="#products" role="tab" aria-controls="profile" aria-selected="false">Catálogo</a>
              </li>
            </ul>
            <div class="tab-content" id="myProviderTabContent">
              <div class="tab-pane fade" id="branch-offices" role="tabpanel" aria-labelledby="branch-offices-tab">
                <%= render 'addresses' %>
              </div>
              <div class="tab-pane fade show active" id="products" role="tabpanel" aria-labelledby="products-tab">
                <%= render 'products' %>
              </div>
            </div>
          </div>
      </div>
  </div>
<% else %>
  <div style="margin: 15.25%;">
    <h1 class="alert alert-danger">
      Lo sentimos, este proveedor se encuentra inactivo
    </h1>
  </div>
<% end %>
