<% provide :title, 'Sobre nosotros' %>
<%= render 'shared/infobar', color: 'black' %>

<div class="row" style="margin: 2% 2%;">
    <div class="col-12 text-center row-center">
       <p style="text-align: left;">
           <strong>Precomp.com.ni</strong> es una plataforma online para la búsqueda de información actualizada de
productos y proveedores del sector constructivo en Nicaragua.
       </p>
    </div>

    <div class="col-12 text-center row-center">
        <p style="text-align: left;">
Nuestro objetivo es concentrar la información de la oferta de productos del sector construcción en
una plataforma de acceso libre y constantemente actualizada.
       </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <%= image_tag 'esquema-sitio.png', class: 'img-fluid' %>
    </div>
</div>

<div class="row" style="margin: 2% 2%;">
    <div class="col-12 text-center row-center">
       <p style="text-align: left;">
Ahorra tiempo y recursos en la elaboración de presupuestos y estimaciones de costo, haciendo
una búsqueda rápida en Precomp.
       </p>
    </div>

    <div class="col-12 text-center row-center">
        <p style="text-align: left;">
        Encontrarás proveedores, precios, tiempos de entrega e información detallada con el mínimo
esfuerzo.
       </p>
    </div>
</div>


<div class="row" style="margin: 2% 2%;">
    <div class="col-12 text-center row-center">
        <p style="text-align: left;">
            <strong>Nosotros:</strong>
        </p>
    </div>
</div>


<div class="row" style="margin-left: 2%">
    <div class="col-6">
        <%= image_tag 'jc.png', class: 'img-fluid', size: '250x250' %>
        <p style="margin-left: 10%;">Arq. José C. Cerda</p>
        <p style="margin-left: 10%;"><strong><a href="mailto:jcerda@precomp.com.ni">jcerda@precomp.com.ni</a></strong></p>
    </div>
    <div class="col-6">
        <%= image_tag 'mario.png', class: 'img-fluid', size: '250x250' %>
        <p style="margin-left: 10%;">Arq. Mario R. Rivas</p>
        <p style="margin-left: 10%;"><a href="mailto:mrivas@precomp.com.ni"><strong>mrivas@precomp.com.ni</strong></a></p>
    </div>
</div>


<div class="row" >
    <div class="col-12" style="height: 25%; background-color: #c9c9c9; margin-top: 2%; border-radius: 0.5em;">
        <div style="padding: 0.5%; font-weight: 400;">
            <%= image_tag 'anuncios-ofertas.png', size: '73x47' %>
            ¿Has visto nuestras ofertas especiales, nuevos proveedores, productos y espacios para anunciarse?
        </div>
    </div>
</div>