<% provide :title, 'Usuarios' %>
<!--===============================================================================================-->	
<%= stylesheet_link_tag 'registrations-main' %>
<%= stylesheet_link_tag 'registrations-util' %>
<!--===============================================================================================-->

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(<%= asset_path 'tuberias.jpg' %>);">
        <span class="login100-form-title-1">
          Reenviar instrucciones para confirmar cuenta
        </span>
      </div>
      <%= render 'devise/shared/error_messages' %>
      <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'login100-form validate-form' }) do |form| %>
        <%= form.full_error :confirmation_token %>
        <div class="wrap-input100 validate-input m-b-26" data-validate="Por favor ingresar el email">
          <span class="label-input100">Email</span>
          <%= form.email_field :email, value: resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email, class: 'input100' %>
          <span class="focus-input100"></span>
        </div>
        <div style="margin-top: 5%;" class="container-login100-form-btn">
          <%= form.submit 'Enviar instrucciones', class: 'login100-form-btn' %>
        </div>
      <% end %>
      <div style="padding: 5%">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>


