<% provide :title, 'Users' %>
<!--===============================================================================================-->	
<%= stylesheet_link_tag 'login-main' %>
<%= stylesheet_link_tag 'login-util' %>
<!--===============================================================================================-->

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(<%= asset_path 'obrero-acero.jpg' %>);">
        <span class="login100-form-title-1">
          Editar informaci칩n
        </span>
      </div>
      <%= render 'devise/shared/error_messages' %>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'login100-form validate-form' }) do |form| %>
        <%# form.error_notification %>

        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
          <span class="label-input100">Email</span>
          <%= form.email_field :email, class: 'input100', required: true %>
          <span class="focus-input100"></span>
        </div>
          
        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
          <span class="label-input100">Nueva contrase침a</span>
          <%= form.password_field :password, class: 'input100', required: true %>
          <span class="focus-input100"></span>           
        </div>

        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
          <span class="label-input100">Confirmar contrase침a</span>
            <%= form.password_field :password_confirmation, class: 'input100', required: true %>
          <span class="focus-input100"></span>           
        </div>


        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
          <span class="label-input100">Contrase침a actual</span>
            <%= form.password_field :current_password, class: 'input100', required: true, hint: 'we need your current password in order to save changes' %>
          <span class="focus-input100"></span>           
        </div>

        <div style="margin-top: 5%;" class="container-login100-form-btn">
          <%= form.submit 'Ingresar', class: 'login100-form-btn' %>
        </div>
      <% end %>
      <%= link_to 'Back', :back %>
    </div>
  </div>
</div>