<% provide :title, 'Perfil' %>
<%= stylesheet_link_tag 'profile-main' %>

<%= render 'shared/infobar', color: '#f2f2f2' %>

<div class="card">
    <div class="card-body">
        <div class="row" style="height: 20em;">
            <div class="col-2 col-md-2 col-xs-12 col-sm-12 col-lg-2">
                <%= image_tag 'no-img.jpg', class: 'img-fluid rounded-circle' %>
                <%= link_to 'Perfil', '#', class: 'blue-color' %>
                <br>
                <%= link_to 'Cuenta', edit_user_registration_path, class: 'blue-color' %>
                <br>
                <%= link_to 'Cuenta', edit_user_registration_path, class: 'blue-color' %>
                <br>
                <%= link_to 'Cuenta', edit_user_registration_path, class: 'blue-color' %>
            </div>
            <div class="col-2 col-md-2 col-xs-12 col-sm-12 col-lg-2">
                <% if @provider %>
                    <p><%= @provider.name %></p>
                <% else %>
                    <p><%= @user.name %></p>
                <% end %>
            </div>
            <div class="col-8 col-md-8 col-xs-12 col-sm-12 col-lg-8 text-center">
                <%= link_to 'Agregar producto', new_product_path, class: 'btn btn-outline-success my-2 my-sm-0' %>
            </div>
        </div>
    </div>
</div>