<% provide :title, 'Usuarios' %>
<!--===============================================================================================-->	
<%= stylesheet_link_tag 'registrations-main' %>
<%= stylesheet_link_tag 'registrations-util' %>
<!--===============================================================================================-->

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(<%= asset_path 'caja-herramientas-closeup.jpg' %>);">
        <span class="login100-form-title-1">
          Recuperar contraseña
        </span>
      </div>
      <%= render 'devise/shared/error_messages' %>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'login100-form validate-form' }) do |form| %>
        <div class="wrap-input100 validate-input m-b-26" data-validate="El email es necesario">
          <span class="label-input100">Email</span>
          <input class="input100" type="email" value="" name="user[email]" id="user_email" placeholder="Escribir email">
          <span class="focus-input100"></span>
        </div>
        <div style="margin-top: 5%;" class="container-login100-form-btn">
          <%= form.submit 'Enviar instrucciones', class: 'login100-form-btn' %>
        </div>
      <% end %>
      <div style="padding: 5%">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>

