 <div class="row" style="margin-left: 15%; color: <%= color %>;">
    <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 text-center row-center">
       <%= link_to about_path, style: 'text-decoration: none !important;' do%>
         <i class="fa fa-address-card"></i> Nosotros |
       <% end %>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 text-center row-center">
       <%= link_to providers_path, style: 'text-decoration: none !important;' do %>
         <i class="fa fa-users"></i> Proveedores |
       <% end %>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 text-center row-center">
        <%= link_to new_contact_admin_mailer_path, remote: true, style: 'text-decoration: none !important;' do %>
          <i class="fa fa-envelope"></i> Contacto |
        <% end %>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 text-center row-center">
      <%= link_to 'https://blog.precomp.com.ni', style: 'text-decoration: none !important;' do %>
        <i class="fa fa-quote-left"></i> Blog
      <% end %>
    </div>
 </div>