<nav class="navbar yellow-nav">
    <div class="mx-auto" style="color: white;">
        PRECIOS & PRODUCTOS PARA TU PROYECTO | TU CATÁLOGO DE COTIZACIONES AL ALCANCE DE UN CLIC
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
       <a class="navbar-brand" href="/">
            <%= image_tag 'precomp-logo-sin-letras-pequenas.png', size: '200x48' %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
             <li class="nav-item">
               <%= link_to products_path, class: 'nav-link blue-color' do %>
                 <i class="fa fa-th fa-2x"></i>
               <% end %>
             </li>
             <li class="nav-item">
               <%= link_to products_path, class: 'nav-link blue-color' do %>
                   Catálogo
               <% end %>
             </li>
              <%= form_for :search, url: products_path, method: :get, html: { class: 'mx-2 my-auto d-inline w-70' } do |f| %>
                <div class="input-group">
                  <%= f.text_field :terms, class: 'form-control' %>
                  <span class="input-group-append">
                      <button type="submit" class="btn btn-primary">
                          <i class="fa fa-search"></i>
                          Buscar
                      </button>
                  </span>
                </div>
              <% end %>
            </ul>
            <ul class="navbar-nav">
                <%# <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                    </div>
                </li> %>
                <% if user_signed_in? %>
                    <li class="nav-item">
                        <%= link_to new_product_path, class: 'btn btn-danger' do %>
                            Agregar producto
                        <% end %>
                    </li>
                    <li class="nav-item">
                       <%= link_to favorite_products_path, class: 'nav-link blue-color' do %>
                          <i class="fa fa-bars fa-2x"></i>
                       <% end %>
                    </li>
                    <li class="nav-item"> 
                      <%= link_to favorite_products_path, class: 'nav-link blue-color' do %>
                          Mi lista
                       <% end %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link blue-color' %>        
                    </li>
                <% else %>
                     <li class="nav-item">
                        <%= link_to 'Login', new_user_session_path, class: 'nav-link blue-color' %>  
                    </li>
                <% end %>
                <li class="nav-item blue-color">
                    <%= link_to profile_path, class: 'nav-link blue-color' do %>
                        <i class="fa fa-user-circle fa-2x"></i>
                    <% end %>
                </li>
            </ul>
        </div>
    </nav>