<div class="card">
  <div class="card-body">
      <%= form_with(model: product, local: true)  do |form| %>
        <% if product.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

            <ul>
            <% product.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%# name and category %>
        <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="name">Nombre</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-wrench"></i>
                  </div>
                </div>
                <%= form.text_field :name, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="category_id">Categoría</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-bars"></i>
                  </div>
                </div>
                <%= form.collection_select :category_id, Category.all, :id, :description, { include_blank: 'Escoger categoría' }, { class: 'form-control' } %>
              </div>
            </div>
          </div>
        </div>

        <%# description and trademark %>
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div class="form-group">
                   <label for="description">Descripción</label>
                   <div class="input-group">
                        <div class="input-group-prepend">
                              <div class="input-group-text">
                                  <i class="fa fa-align-left">                                
                                  </i>
                              </div>
                        </div>
                        <%= form.text_area :description, class: 'form-control' %>
                   </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="form-group">
                   <label for="trademark">Marca</label>
                   <div class="input-group">
                        <div class="input-group-prepend">
                              <div class="input-group-text">
                                  <i class="fa fa-trademark">                                
                                  </i>
                              </div>
                        </div>
                        <%= form.text_field :trademark, class: 'form-control' %>
                   </div>
                </div>
            </div>
        </div>

        <%# measurement_unit, price and currency %>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                <div class="form-group">
                   <label for="measurement_unit">Unidad de medida</label>
                   <div class="input-group">
                      <div class="input-group-prepend">
                         <div class="input-group-text">
                             <i class="fa fa-balance-scale"></i>
                         </div>
                      </div>
                      <%= form.text_field :measurement_unit, class: 'form-control' %>
                   </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                <div class="row">
                   <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                      <div class="form-group">
                        <label for="price">Precio</label>
                        <div class="input-group">
                            <input name="product[price]" type="number" value="<%= form.object.price %>" min="0" />
                        </div>
                      </div>
                   </div>
                   <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                      <div class="form-group">
                         <label for="currency">Moneda</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                  <div class="input-group-text">
                                       <i class="fa fa-money">                                
                                       </i>
                                  </div>
                              </div>
                              <%= form.collection_select :currency,              
                              @currency, :to_s, :to_s, 
                              { include_blank: 'Escoger moneda' }, { class: 'form-control' } %>
                          </div>
                      </div>
                   </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                <div class="form-group">
                    <label for="tags">Etiquetas</label>
                    <%# <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-at"></i>
                            </div>
                        </div>
                    </div> %>
                    <%= form.text_field :tags, class: 'tags form-control', multiple: true %>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label for="name">Tiempo estimado de respuesta</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-clock-o"></i>
                    </div>
                  </div>
                  <%= form.text_field :estimated_delivery_time, class: 'form-control' %>
                </div>
              </div>
           </div>
        </div>

        <div class="row">
        <div class="col-md-6 col-lg-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <div class="form-check pl-0">
              <%= form.check_box :available, class: 'form-check-input',
              'readonly': true,
              'data-toggle': 'toggle', 'data-on': 'Sí', 'data-off': 'No', 
              'data-onstyle': 'success', 'data-offstyle': 'danger' %>
             <label for="available" class="form-check-label">¿Disponible?</label>
            </div>
          </div>
        </div>
      </div>

        <div class="row">
          <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
              <label for="product_images">Buscar imágenes del producto</label> 
              <%= form.file_field :images, multiple: true, accept:'image/png' %>         
          </div>
          <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
            <% if form.object.new_record? || !form.object.images.attached? %>
              <img class="img-fuild" id="img-prev" src="#" alt="" />
            <% else %>
              <% form.object.images.each do |image| %>
                  <%= image_tag image, size: '180x180', class: 'img-fluid' %>
                  <%= link_to remove_attachment_product_path(image), class: 'btn btn-danger', method: :delete do %>
                    <span class="fa fa-trash-o"></span>
                  <% end %>
              <% end %>
              <%# image_tag form.object.logo, size: '180x180', id: 'img-prev', class: 'img-fuild' %>
            <% end %>
          </div>
        </div>

        <div class="actions">
            <%= form.submit 'Guardar', class: 'btn btn-success' %>
        </div>
      <% end %>
   </div>
</div>
