<% provide :title, 'Productos' %>
<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tag</th>
      <th>Description</th>
      <th>Trademark</th>
      <th>Measurement unit</th>
      <th>Estimated delivery time</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.tags %></td>
        <td><%= product.description %></td>
        <td><%= product.trademark %></td>
        <td><%= product.measurement_unit %></td>
        <td><%= product.estimated_delivery_time %></td>
        
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
