<% provide :title, @product.name %>


<%= render 'shared/infobar', color: 'black' %>

<div class="col-8 mx-auto">
      <div class="row">
          <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
              <% if @product.images.count == 0 %>
                  <%= image_tag 'no-img.jpg', class: 'img-fluid' %>
              <% else %>
                  <%= image_tag @product.images.first, class: 'img-fluid' %>
              <% end %>
          </div>
          <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12" style="background-color: #211b23; height: 15em;">
              <div class="col-12">
                  <h3 class="product-text text-center"><%= @product.name %></h3>
              </div>
              <div class="col-4 mx-auto">
                   <div class="alert alert-primary">
                       <%= formatted_price @product %>
                   </div>
              </div>
          </div>
      </div>
</div>