<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/flatly/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap" rel="stylesheet">
        <%= stylesheet_link_tag    'countdown' %>
        <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
         <%= javascript_include_tag 'countdown' %>
    </head>
</html>
<body style="background-image: url(<%= image_path 'countdown_fondo1.png' %>); margin: 0;
    padding: 0;
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;">
    <nav class="navbar yellow-nav">
        <div class="mx-auto" style="color: white;">
            PRECIOS & PRODUCTOS PARA TU PROYECTO | TU CATÁLOGO DE COTIZACIONES AL ALCANCE DE UN CLIC
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
       <a class="navbar-brand" href="/">
            <%= image_tag 'precomp-logo-sin-letras-pequenas.png', size: '200x48' %>
        </a>
    </nav>
    <%= yield %>
    <div class="footer">
        <%= image_tag 'precomp-lupa-negro', size: '70x70', style: 'vertical-align: middle;' %>
        <span>CONTACTO: <a style="color: #211b23;" href="mailto:info@precomp.com.ni">INFO@PRECOMP.COM.NI</a></span>
    </div>
</body>